.fgr-EmotePicker {
  border-radius: 8px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  height: 300px;
  position: absolute;
  right: 0;
  row-gap: 4px;
  width: 350px;
  z-index: 10;
  --EmotePicker-root: var(--secondary-color);
  background-color: var(--EmotePicker-root);
  --EmotePicker-active-category-color: var(--primary-color);

  .fgr-EmotePicker-emojiPickerContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    padding: 0 12px;
    row-gap: 10px;
  }

  .fgr-EmotePicker-emojiPickerSearch {
    background-color: var(--content-bg-color);
    border-radius: 6px;
    display: block;
    font-size: 0.92rem;
    height: 33px;
    padding: 12px 8px;
    width: 100%;
    color: var(--main-text-color);
  }

  .fgr-EmotePicker-emojiPickerCategories {
    align-items: center;
    border-bottom: 1px solid rgb(56, 56, 56);
    display: flex;
    overflow: hidden;
    padding: 8px;
  }

  /* postcss-bem-linter: ignore */
  .fgr-EmotePicker-emojiPickerCategories > *[data-is-active="true"] {
    color: var(--EmotePicker-active-category-color);
    height: 28px;
    position: relative;
    width: 28px;
  }

  /* postcss-bem-linter: ignore */
  .fgr-EmotePicker-emojiPickerCategories > *[data-is-active="true"]::after {
    background: var(--EmotePicker-active-category-color);
    border-radius: 5px 5px 0 0;
    bottom: -10px;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
  }

  /* postcss-bem-linter: ignore */
  .fgr-EmotePicker-emojiPickerCategories > * {
    color: white;
    display: block;
    flex-shrink: 0;
    height: 26px;
    margin: 4px;
    padding-bottom: 4px;
    width: 26px;
  }

  /* postcss-bem-linter: ignore */
  .fgr-EmotePicker-emojiPickerCategories > * svg {
    height: 100%;
    transition:
      color 0.3s ease-in,
      width 0.3s ease-in,
      height 0.3s ease-in;
    width: 100%;
  }

  /* postcss-bem-linter: ignore */
  .fgr-EmotePicker-emojiPickerCategories > * img {
    border-radius: 50%;
    height: 100%;
  }

  .fgr-EmotePicker-emojiPickerCategories::-webkit-scrollbar {
    display: none;
  }
}
