.fgr-MicroModalWrapper {
  backdrop-filter: blur(1px);
  background: rgba(1, 31, 3, 0.63);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  display: none;

  .fgr-MicroModalWrapper-overlay {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
  }

  .fgr-MicroModalWrapper-content {
    background-color: var(--content-bg-color);
    border-radius: 6px;
    box-shadow: 10px 10px 34px -4px rgba(0, 0, 0, 0.79);
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 250px;
    padding: 12px 18px;
    row-gap: 4px;
  }

  .fgr-MicroModalWrapper-title {
    color: var(--primary-color);
    font-family: var(--display-font);
    font-size: 1.44rem;
    font-weight: bold;
    text-align: center;
  }

  .fgr-MicroModalWrapper-description {
    color: var(--alt-text-color);
    font-size: 0.88rem;
    text-align: center;
  }

  .fgr-MicroModalWrapper-childrenWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
  }

  .fgr-MicroModalWrapper-buttonWrapper {
    align-items: center;
    column-gap: 8px;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }
}

.fgr-MicroModalWrapper.is-open {
  display: block;
}
