.fgr-Message--error {
  .fgr-Message-tooltip {
    display: inline-block;
    margin-right: 4px;
  }

  .fgr-Message-tooltip .fgr-Message-tooltipIcon,
  .fgr-Message-content {
    color: rgb(255, 33, 63);
  }

  .fgr-Message-senderName {
    color: rgba(255, 0, 34, 0.575);
  }
}

.fgr-Message {
  display: inline-block;
  line-height: 1.33;

  .fgr-Message-badge {
    column-gap: 3px;
    display: inline-flex;
  }

  .fgr-Message-senderIdentityWrapper {
    cursor: pointer;
    float: left;
    height: 20px;
    vertical-align: middle;
  }
  .fgr-Message-senderIdentityWrapper,
  .fgr-Message-content {
    display: inline;
  }

  .fgr-Message-content {
    color: #d1d1d1;
    font-weight: normal;
    overflow-wrap: break-word;
    word-break: break-all;
  }

  .fgr-Message-senderName {
    font-weight: bold;
    line-height: 1;
  }

  .fgr-Message-content:first-child {
    margin-left: 0;
  }

  .fgr-Message-senderIdentity {
    align-items: center;
    column-gap: 4px;
    display: flex;
    height: 100%;
  }
}
