blockquote::after {
  display: block;
  content: " (source: " attr(cite) ") ";
  color: hotpink;
}

.chat-message {
  display: block;
}

.message-sender-identity {
  display: flex;
  float: left;
  column-gap: 4px;
}

.message-content-wrapper {
  display: block;
}

.message-content-wrapper .sender-name {
  font-weight: bold;
  float: right;
}

.user-message-error-tooltip {
  margin-right: 4px;
  display: inline-block;
}

.user-message-error .message-content-wrapper .sender-name {
  color: rgba(255, 0, 34, 0.575);
}

.user-message-error-tooltip svg,
.user-message-error .message-content {
  color: rgb(255, 33, 63);
}

.message-content {
  font-weight: normal;
  color: #d1d1d1;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-break: break-all;
  display: block;
}

.message-content:first-child {
  margin-left: 0;
}
