.saved-channel-link {
  text-decoration: none;
}

.channel-avatar {
  border-radius: 0px;
}

.saved-channel {
  pointer-events: none;
  overflow: hidden;
  transition: border-radius 0.2s ease-out 100ms;
  border-radius: 50%;
  flex-basis: 42px;
  flex-grow: 0;
  flex-shrink: 0;
}

.saved-channel:hover {
  border-radius: 12px;
}
