.fgr-MessageInputSuggestion {
  position: fixed;
  width: 150px;
  height: 150px;
  bottom: calc(100% + 4px);
  z-index: 100;
  opacity: 0.75;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 4px;
  user-select: none;

  .fgr-MessageInputSuggestion-emote {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    background: var(--secondary-color);
    padding: 2px 8px;
    border-radius: 4px;
  }

  .fgr-MessageInputSuggestion-emote--active {
    background: var(--primary-color);
    color: var(--black);
  }

  .fgr-MessageInputSuggestion-emoteName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-family: var(--display-font);
    font-size: 0.822rem;
    user-select: none;
  }

  .fgr-MessageInputSuggestion-emoteImg {
    object-fit: contain;
  }
}
