.fgr-ChannelInfo {
  align-items: center;
  column-gap: 24px;
  display: flex;
  height: 50px;
  padding: 8px 16px;
  width: 100%;

  .fgr-ChannelInfo-button {
    align-items: center;
    column-gap: 12px;
    display: flex;
  }

  .fgr-ChannelInfo-avatar {
    color: var(--primary-color);
    font-family: var(--display-font);
    font-size: 1.125rem;
    font-weight: bold;
  }

  .fgr-ChannelInfo-name {
    color: var(--primary-color);
    font-family: var(--display-font);
    font-size: 1.125rem;
    font-weight: bold;
  }
}
