.channel-info {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--sidebar-border-color);
  padding: 32px 16px;
  column-gap: 12px;
}

.channel-info .channel-name {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: var(--display-font);
  color: var(--primary-color);
  letter-spacing: 0.133rem;
}

.channel-profile {
  height: 30px;
  width: 30px;
}
