.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  align-items: center;
  justify-items: center;
}

.input-label {
  text-align: center;
  font-size: 0.92rem;
  color: var(--alt-text-color);
}

.input-wrapper input[type="text"] {
  width: 100%;
}
