.fgr-Input {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  row-gap: 6px;

  /* postcss-bem-linter: ignore */
  input[type="text"] {
    width: 100%;
  }

  .fgr-Input-inputLabel {
    color: var(--alt-text-color);
    font-size: 0.92rem;
    text-align: center;
  }
}
