.fgr-LoginBanner {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--alt-text-color);
  display: flex;
  font-size: 1.12rem;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
}
