.fgr-ErrorMessage {
  background-color: rgba(255, 216, 216, 0.897);
  border: red;
  border-radius: 4px;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
}
