.fgr-ErrorMessage {
  background-color: var(--background-error);
  border: 1px solid var(--text-error);
  border-radius: 4px;
  color: var(--text-error);
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
}
