.fgr-Toolbar {
  align-items: center;
  -webkit-app-region: drag;
  background: var(--toolbar-bg-color);
  background-attachment: fixed;
  display: flex;
  height: var(--toolbar-height);
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 60;

  .fgr-Toolbar-leftSide {
    color: var(--logo-text-color);
    font-family: var(--display-font);
    font-size: 0.77rem;
    font-weight: bold;
  }

  .fgr-Toolbar-rightSide {
    align-items: center;
    column-gap: 6px;
    display: flex;
    justify-content: center;
  }

  .fgr-Toolbar-button {
    align-items: center;
    display: flex;
  }

  .fgr-Toolbar-button,
  .fgr-Toolbar-button .fgr-Toolbar-button {
    -webkit-app-region: no-drag;
    width: 18px;
  }

  .fgr-Toolbar-icon {
    color: var(--toolbar-icon-color);
  }

  .fgr-Toolbar-icon:hover {
    color: var(--toolbar-icon-color-hover);
  }
}
