.fgr-Sidebar {
  background: var(--sidebar-bg-color);
  background-attachment: fixed;
  flex-basis: 150px;
  flex-grow: 1;
  height: calc(100vh - var(--toolbar-height));
  max-width: 80px;
  position: relative;
  width: 20vw;
}
