.fgr-KickBadge {
  display: flex;
  align-items: center;
  float: left;
  position: relative;
  height: 100%;
  line-height: inherit;

  .fgr-KickBadge-icon,
  .fgr-KickBadge-text {
    line-height: inherit;
    user-select: none;
  }

  .fgr-KickBadge-text {
    display: block;
    font-size: 15px;
    line-height: 0;
  }

  .fgr-KickBadge-verifiedUser {
    color: var(--blue);
  }

  .fgr-KickBadge-iconMod {
    color: var(--green);
  }

  .fgr-KickBadge-iconGifter {
    color: var(--red);
  }

  .fgr-KickBadge-count {
    color: var(--black);
    display: block;
    font-family: Consolas, monaco, monospace;
    font-size: 0.64rem;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .fgr-KickBadge-subscriber {
    color: var(--yellow);
  }

  .fgr-KickBadge-iconGifter + .fgr-KickBadge-count {
    color: var(--white);
  }
}
