.fgr-KickBadge {
  display: flex;
  align-items: center;
  float: left;
  position: relative;
  height: 100%;
  line-height: inherit;

  .fgr-KickBadge-icon,
  .fgr-KickBadge-text {
    line-height: inherit;
    user-select: none;
  }

  .fgr-KickBadge-text {
    display: block;
    font-size: 15px;
    line-height: 0;
  }

  .fgr-KickBadge-verifiedUser {
    color: rgb(0, 174, 255);
  }

  .fgr-KickBadge-iconMod {
    color: rgb(12, 245, 51);
  }

  .fgr-KickBadge-iconGifter {
    color: #ff006a;
  }

  .fgr-KickBadge-count {
    color: black;
    display: block;
    font-family: Consolas, monaco, monospace;
    font-size: 0.64rem;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .fgr-KickBadge-subscriber {
    color: #fffb00;
  }

  .fgr-KickBadge-iconGifter + .fgr-KickBadge-count {
    color: white;
  }
}
