.fgr-EmoteTooltiper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
  overflow: hidden;
  padding: 12px;
  row-gap: 6px;

  .fgr-EmoteTooltiper-emoteImg {
    height: 42px;
    width: 42px;
  }

  .fgr-EmoteTooltiper-emoteName {
    font-size: 1.11rem;
    font-weight: bold;
    font-family: var(--display-font);
  }
}
