.fgr-ChatEventRow {
  padding: 5px 0;

  .fgr-ChatEventRow-giftedSubGifter,
  .fgr-ChatEventRow-giftedSubReceiver {
    font-weight: bold;
  }

  .fgr-ChatEventRow-infoChatEvent {
    color: rgb(199, 199, 199);
  }
}
