.fgr-ChatEventRow {
  padding: 10px 0;

  .fgr-ChatEventRow-giftedSubGifter,
  .fgr-ChatEventRow-giftedSubReceiver {
    font-weight: bold;
  }

  .fgr-ChatEventRow-infoChatEvent {
    color: var(--alt-text-color);
  }
}
