.fgr-EmptyChannel {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 2.88rem;
  width: 100%;

  .fgr-EmptyChannel-emptyChannelHeading {
    color: var(--primary-color);
    font-family: var(--display-font);
    font-size: 2.325rem;
    font-weight: bold;
  }

  .fgr-EmptyChannel-emptyChannelAlt {
    color: var(--alt-text-color);
    font-family: var(--body-font);
    font-size: 1.12rem;
  }

  .fgr-EmptyChannel-plusChannelIcon {
    color: var(--primary-color);
    height: 42px;
    opacity: 0.77;
    width: 42px;
  }
}
