.fgr-MessageInput {
  background-color: var(--message-input-bg-color);
  border: none;
  border-radius: 16px;
  color: var(--message-input-text-color);
  cursor: text;
  font-size: 0.97rem;
  outline: none;
  padding: 6px 36px 6px 12px;
  position: relative;
  width: 100%;

  .fgr-MessageInput-editor {
    height: 32px;
    overflow-y: auto;
    word-break: break-all;
  }

  .fgr-MessageInput-editor::-webkit-scrollbar {
    display: none;
  }

  /* postcss-bem-linter: ignore */
  .fgr-MessageInput-editorParagraph span {
    vertical-align: middle;
  }

  .fgr-MessageInput-editorRoot {
    height: 100%;
  }

  .fgr-MessageInput-editorRoot:focus {
    border: none;
    outline: none;
  }

  .fgr-MessageInput-emoteWrapper,
  .fgr-MessageInput-emoteWrapperText {
    display: inline-block;
  }

  .fgr-MessageInput-emoteWrapper {
    height: 24px;
    width: 24px;
  }

  .fgr-MessageInput-emoteWrapperText {
    height: 20px;
    width: 20px;
  }

  .fgr-MessageInput-emote {
    height: 100%;
    width: 100%;
  }

  .fgr-MessageInput-placeholder {
    align-items: center;
    display: flex;
    font-family: var(--display-font);
    font-size: 1.23rem;
    left: 24px;
    opacity: 0.9;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
  }

  .fgr-MessageInput-options {
    align-items: center;
    column-gap: 4px;
    display: flex;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .fgr-MessageInput-optionsButton {
    color: var(--main-text-color);
    height: 20px;
    width: 20px;
  }

  .fgr-MessageInput-inputSmileIcon {
    width: 20px;
  }

  /* postcss-bem-linter: ignore */
  .fgr-MessageInput-inputSmileIcon[data-open] {
    color: rgb(255, 166, 0);
    width: 22px;
  }
}

.fgr-MessageInput:focus-within {
  border: 1px solid var(--message-input-border-hover);
}
