.fgr-NewChannelButton {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.411);
  color: var(--primary-btn-txt-color);
  display: flex;
  justify-content: center;
  transition:
    background-color 0.5s ease,
    border-radius 0.5s ease;

  .fgr-NewChannelButton-icon {
    height: 20px;
    width: 20px;
  }
}

.fgr-NewChannelButton:hover {
  background-color: var(--accent-color);
}
