*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

:root {
  --toolbar-bg-color: #001b09;
  --content-bg-color: #001b09;
  --sidebar-bg-color: #001b09;
  --primary-color: #badf12;
  --accent-color: #badf12;
  --emoji-picker-root: #062e1f;
  --scroll-thumb-color: #6c9b14;
  --emoji-picker-active-category-color: #badf12;
  --message-input-bg-color: #383833;
  --message-input-border-hover: #badf1250;
  --message-input-text-color: rgb(240, 237, 239);
  --message-input-text-color-focus: rgb(255, 254, 255);
  --message-input-text-color-placeholder: rgb(211, 209, 211);
  --toolbar-icon-color: rgba(91, 245, 150, 0.568);
  --toolbar-icon-color-hover: rgba(91, 245, 150, 0.932);
  --toolbar-height: 25px;
  --main-text-color: rgb(235, 235, 235);
  --logo-text-color: #737a7c;
  --alt-text-color: #8b8b8b;
  --primary-btn-txt-color: rgb(31, 31, 31);
  --primary-btn-color-hover: rgb(58, 104, 16);
  --primary-btn-txt-color-hover: rgb(245, 245, 245);
  --body-font: "Roboto", sans-serif;
  --display-font: "Comfortaa", sans-serif;
  --scrollbar-track-color: rgba(0, 0, 0, 0.116);
}

body,
#root {
  color: var(--main-text-color);
  font-family: var(--body-font);
  text-rendering: optimizeLegibility;
}

body ::-webkit-scrollbar {
  background-color: var(--scrollbar-track-color);
  width: 1rem;
}

body ::-webkit-scrollbar-track {
  box-shadow: none;
  color: var(--primary-color);
}

body ::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 4px;
}

#root {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.primary-btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--primary-btn-txt-color);
  padding: 8px 12px;
}

.primary-btn:hover {
  background-color: var(--primary-btn-color-hover);
  color: var(--primary-btn-txt-color-hover);
}

.primary-btn:disabled {
  background-color: rgb(190, 190, 190);
}

.global-tooltip {
  background-color: rgb(39, 37, 37);
  border: 1px solid rgba(233, 233, 233, 0.438);
  border-radius: 4px;
  box-shadow: 13px 10px 26px -10px rgba(0, 0, 0, 0.7);
  font-size: 0.92rem;
  padding: 6px 8px;
  z-index: 10;
}

input[type="text"],
input[type="password"] {
  background-color: #778072;
  border: none;
  border-radius: 8px;
  height: 32px;
  outline: none;
  padding: 4px 12px;
}
