*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

:root {
  /* Main Colors */
  --primary-color: #badf12;
  --secondary-color: #05412b;
  --accent-color: #badf12;
  --toolbar-bg-color: #001b09;
  --content-bg-color: #001b09;
  --sidebar-bg-color: #001b09;
  --black: rgb(27, 27, 27);
  --background-overlay: rgba(1, 31, 3, 0.63);
  /* Text Colors */
  --main-text-color: rgb(235, 235, 235);
  --secondary-text-color: rgb(240, 237, 239);
  --highlight-text-color: white;
  --logo-text-color: #737a7c;
  --alt-text-color: #8b8b8b;
  /* Additional Colors */
  --text-error: red;
  --background-error: rgba(255, 216, 216, 0.897);
  --background-disabled: rgb(133, 133, 133);
  --blue: rgb(0, 174, 255);
  --green: rgb(12, 245, 51);
  --red: #ff006a;
  --yellow: rgb(255, 166, 0);

  /* Fonts */
  --body-font: "Roboto", sans-serif;
  --display-font: "Comfortaa", sans-serif;

  /* Toolbar */
  --toolbar-icon-color: rgba(91, 245, 150, 0.568);
  --toolbar-icon-color-hover: rgba(91, 245, 150, 0.932);
  --toolbar-height: 25px;

  /* Scrollbar */
  --scrollbar-track-color: rgba(0, 0, 0, 0.116);
  --scroll-thumb-color: #6c9b14;
}

body,
#root,
button {
  color: var(--main-text-color);
  font-family: var(--body-font);
  text-rendering: optimizeLegibility;
}

body ::-webkit-scrollbar {
  background-color: var(--scrollbar-track-color);
  width: 1rem;
}

body ::-webkit-scrollbar-track {
  box-shadow: none;
  color: var(--primary-color);
}

body ::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 4px;
}

#root {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.global-tooltip-wrapper .global-tooltip {
  background: var(--secondary-color);
  color: var(--main-text-color);
  font-family: var(--display-font);
  border-radius: 4px;
  font-size: 0.92rem;
  padding: 12px 12px;
  z-index: 10;
  opacity: 1;
}

input[type="text"],
input[type="password"] {
  background-color: #778072;
  border: none;
  border-radius: 8px;
  height: 32px;
  outline: none;
  padding: 4px 12px;
}

a:-webkit-any-link {
  color: inherit;
}