.fgr-KickUserCard {
  column-gap: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .fgr-KickUserCard-kickUserCardContentInfo {
    flex: 1;
  }

  .fgr-KickUserCard-kickUserCardActions > .fgr-KickUserCard-kickUserCardActionsGroup {
    width: 100%;
  }

  .fgr-KickUserCard-kickUserCardActions,
  .fgr-KickUserCard-kickUserCardContentInfo,
  .fgr-KickUserCard-kickUserCardActions > .fgr-KickUserCard-kickUserCardActionsGroup {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 8px;
    text-align: center;
  }

  .fgr-KickUserCard-userCardProfile {
    background: black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .fgr-KickUserCard-kickUserCardName {
    font-family: var(--display-font);
    font-weight: bold;
    text-align: center;
  }

  .fgr-KickUserCard-contentBtnGroup {
    align-items: center;
    column-gap: 6px;
    display: flex;
    justify-content: space-evenly;
  }
}
