.emote-tooltip-preview img {
  width: 42px;
  height: 42px;
}

.emote-tooltip-preview {
  max-height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  row-gap: 6px;
}

.emote-tooltip-preview p {
  font-weight: bold;
  font-size: 1.11rem;
}
