.global-tooltip {
  background-color: rgb(39, 37, 37);
  border-radius: 1px solid rgb(233, 233, 233);
  padding: 6px 8px;
  border-radius: 4px;
  box-shadow: 13px 10px 26px -10px rgba(0, 0, 0, 0.7);
  z-index: 100;
  font-size: 0.92rem;
}
