.fgr-Layout {
  display: flex;
  flex-direction: row;
  min-width: 0;
  width: 100%;

  .fgr-Layout-section {
    flex: 1;
    flex-basis: 200px;
  }

  .fgr-Layout-content {
    background-color: var(--content-bg-color);
    display: flex;
    height: calc(100vh - var(--toolbar-height));
    width: 100%;
  }
}
